/* Common Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body{
    background-color: #ADD8E6;
    font-family: 'Coiny', cursive;
}

/* Header */

header{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}


/* Main */

/* Container */

.container{
    margin: auto;
    width: 780px;
}

/* Cards */

.card{
    background-image: url(/img/pattern.png);
    /* background-color: white; */
    background-repeat: repeat;
    background-size: 13rem;
    width: 180px;
    height: 210px;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px grey;
    text-align: center;
}

.scoperta{
    background-color: white;
    background-repeat: repeat;
    width: 180px;
    height: 210px;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px grey;
    text-align: center;
    color:#E61986;
    font-size: 1.5rem;
}



/* Cards Postions */

.row{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.second_card{
    position: absolute;
    top: 0;
    left: 200px;

}

.third_card{
    position: absolute;
    top: 0;
    right: 200px;
}

.fourth_card{
    position: absolute;
    right: 0;
    top: 0;
}

/* Cards Hover */

.card:hover{
    background-color: white;
    cursor: pointer;
    background-image: none;
}

.hide{
    display: none
}

img{
    margin-top: 1rem;
    width: 80%;
}

.tractor:hover>.hide {
    display: block;
    color:#E67919;
    font-size: 1.5rem;
}

.baloon:hover>.hide {
    display: block;
    color:#E61986;
    font-size: 1.5rem;
}

.bicycle:hover>.hide {
    display: block;
    color: blue;
    font-size: 1.5rem;
}

.ship:hover>.hide {
    display: block;
    color:purple;
    font-size: 1.5rem;
}

.submarine:hover>.hide {
    display: block;
    color: green;
    font-size: 1.5rem;
}

.tram:hover>.hide {
    display: block;
    color: darkred;
    font-size: 1.5rem;
}


/* Footer */

footer{
    text-align: center;
}